%subheader
  - menu_tag(:submenu, %w[software web], {:class => :submenu_list})

  %ul#login
    %li#world
      #logintxt
        %span
          %i
    %li#search_input
      %input{:col => "3", :height => "10px", :name => "search", :type => "text"}/

    %li
      #search_icon
        %span
          %i
