header  {
  margin    :   0;

  #logo {
    padding   :   3px 0 0 8px;
    width     :   200px; float:left;
  }
}

///* css author: vitz, editor: dreamweaver cs4, notepad++ */
//
///* page structure */
//body,#wrapper,#header,#subheader,  #footer, #content  {width:950px;}
//body,#subheader, #footer, #content, #wrapper  {padding:0;}
//#subheader,  #footer, #wrapper,#content {text-align:left;}
//a:link,a:visited, a:hover, a:active  {text-decoration:none}
//body,#wrapper {font-family: Helvetica, sans-serif; font-size:14px; height:600px; border: 0; margin:0 auto;}
//#subheader,  #footer {  margin: 5px 0 0 0;}
//body {text-align:center; }
//#header{ margin: 0;}
//#content {height: 450px; border:0; margin: -20px 0 0 0;}
//
///* header */
//.menua:hover {text-indent:0}
//.menu, .menua:link , .menua:visited, .menua:hover ,.menua:active {color:white; margin:0 10px 0 0; background-image:url(../img/border.gif)}
//.menu,.menua:link,.menua:visited {background-position:0px -80px;}
//.menua:active, .menua:hover {background-position:0px -153px !important}
//#header { height:55px;  background-image:url(../img/border.gif); padding:0; border:0 }
//#logo {padding:3px 0 0 8px; width:200px; float:left;}
//#menu { padding: 0px 5px 0 0;float:right; color:white; margin: 34px 0 0 0;}
//
///* subheader */
//.submenu,.submenua ,.submenua:visited, .submenua:hover ,.submenua:visited,.submenua:hover {color:white}
//.submenu, .submenua:visited, .submenua:hover{ height:22px; width:110px; background-image:url(../img/border.gif);background-position:0px -153px; padding:5px 0 0 0; float:left; margin: 0 5px 0 0; text-align:center;}
//#world,#search {background-image:url(../img/imglogos.gif);}
//#subheader {height:50px; }
//#submenu {height:40px; width: 400px; margin:2px 0 0 8px; padding:5px 0 0 0;}
//#submenua:hover {background-position:0px 0px;}
//#login	 {height:40px; width: 400px; margin:-40px 0 0 0; padding:0px 0 0 0; float:right}
//.login {float:right; margin-right:5px;}
//#world { height:23px; width:30px; background-position: -3px -3px;}
//#search { height:21px; width:23px; background-position: -40px -3px;}
//#searchform {margin:-2px 0 0 0}
//#logintxt {color:#4fa800}
//
///* leftpanel */
//.bold,.motto-bottom  {font-weight:bold}
//#leftpanel {width:400px; border:0; padding:0}
//#motto {margin: 0 0 0 50px;}
//.motto-top { color:#4fa800; font-size:1.5em}
//.motto-bottom { color:#0057a6; font-size:1.1em;}
//
///* rightpanel */
//.main-text, .title  { font-family:Georgia, serif;}
//.title ,.text1{margin:-3px 0 0 0}
//.text1,.text2 { color:#7a7a7a}
//#pic1,#pic2 {float:left; background-image:url(../img/pics.gif); width: 60px; height:60px;}
//#rightpanel {width:500px; float:right; margin:-3px 20px 0 0; color:#3f3f4a;}
//.textwrap {float:left}
//.main-text { font-size:16.5px; line-height:150%; color:#3f3f4a;}
//.title {color:#4fa800; font-size:14px; font-weight:bold ;}
//.text1 {font-size:1em; border:0; padding:0;}
//.text2 {font-size: .9em;}
//#pic1 {margin: -6px 15px 0 0;}
//#pic2 {background-position: -3px -65px;margin: 6px 15px 0 0}
//hr {color:#b6b6b6; margin:-2px 0}
//#submaintext {width:90%}
///*  */
///* footer */
//#footer, #border, #footerwrap {border:0; padding:0}
//#fb,#tw,#fr {background-image:url(../img/imglogos.gif);height:23px;}
//#footermenua, #footermenua:visited {color:black;}
//#footer {font-size: 0.7em ; height:70px;}
//#border {height:18px; background-image:url(../img/border.gif);}
//#footermenua:hover {color:#0057a6;}
//#footermenu { float:right; text-align:right;line-height:195%; width:950px; height:30px; padding: 0 8px 0 0; margin:3px 0 0 0;}
//#footerwrap {  width:950px;}
//#fb{width:20px; background-position: -112px 0px;}
//#tw{width:20px; background-position: -133px 0px;}
//#fr{width:48px; background-position: -63px 0px;}
//#snsmenu {height:25px; width:80px}
//#copyright {margin:4px 0 0 0; text-align:right; }
//.text-logo {color:#0057a6;font-weight:bold; font-size:1.1em}
//
//#holder  {background-image:url(../img/loader2.gif);background-position:center center; background-repeat:no-repeat; width:400px; height: 400px }
//#img-holder{margin-top:180px;margin-left:160px;}